extends ./layout.jade
block body
	div.ui.form(style="margin-top:15px;")
		div.field
			input(id="treshold" type="text" placeholder="porog", style="width:300px;")/
block scripts
	script(type="text/javascript", src="../scripts/scripts_a/binarization.js")
	script(type="text/javascript", src="../scripts/scripts_a/binarization_main.js")