extends ./layout.jade
block scripts
	script(type="text/javascript", src="../scripts/scripts_a/BinaryImageExtension.js")
	script(type="text/javascript", src="../scripts/scripts_a/binaryExtensionMain.js")