extends ./layout.jade
block scripts
	script(type="text/javascript", src="../scripts/common/Entity.js")
	script(type="text/javascript", src="../scripts/scripts_a/Colorizer.js")
	script(type="text/javascript", src="../scripts/scripts_a/bug_a.js")
	script(type="text/javascript", src="../scripts/scripts_a/bug_a_main.js")