extends ./layout.jade
block body
	div
		span table visible 
		input(type="checkbox" data-bind="checked:showTable")/
	div
		|<!-- ko template: {name: "hElements"} -->
		|<!-- /ko -->
	div.tableWrapper(data-bind="visible:isTableVisible")
		|<!-- ko template: {name: "tableTemplate"} -->
		|<!-- /ko -->
block scripts
	script(type = "text/html", id="tableTemplate")
		table.ui.celled.table
			thead
			tbody(data-bind="foreach: {data:cellItem}")
				tr(data-bind="foreach:{data:items, as:'item'}")
					td(data-bind='css:{"negative": item.color == 1}, attr:{"data-value": item.value.replace(".","-")}')
						p(data-bind="text:item.value, attr:{'data-x':item.x, 'data-y':item.y}")
	script(type = "text/html", id="hElements")
		p Characteristic Elements
		ul(data-bind="foreach:hElements" class="ce")
			li
				span(data-bind="text:fullName") 
	script
		|var defaultImg = 'l.png';
		|var mask = 0;
	script(type="text/javascript" src="/../../scripts/bower_components/knockout/dist/knockout.js")
	script(type="text/javascript", src="../scripts/scripts_a/ts/fi/fi.js")