extends ./layout.jade
block body
	div.ui.form
		img(src="/public/imgs/little-ajax-loader.gif" id="spiner" style="float:right;margin-right:50%")
block scripts
	script(type="text/javascript", src="../scripts/scripts_a/perceptrone.js")