doctype html
html(lang="en")
    head
        meta(http-equiv="content-type", content="text/html; charset=utf-8")/
        title Жук
        link(href="../сss/bug_a/bug.min.css", rel="stylesheet")/
    body
        div(class="container")
            canvas(id="canv") :)
        script(type="text/javascript", src="../scripts/bower_components/jquery/dist/jquery.min.js")
        script(type="text/javascript", src="../scripts/bower_components/lodash/lodash.min.js")
        script(type="text/javascript", src="../scripts/scripts_a/bug_a.js")
        script(type="text/javascript", src="../scripts/common/Extensions.js")
        script(type="text/javascript", src="../scripts/common/inherit.js")
        script(type="text/javascript", src="../scripts/common/Pixel.js")
        script(type="text/javascript", src="../scripts/common/Entity.js")
        script(type="text/javascript", src="../scripts/scripts_a/Pixel_.js")
        script(type="text/javascript", src="../scripts/scripts_a/Colorizer.js")
        script(type="text/javascript", src="../scripts/scripts_a/bug_a_main.js")
