<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="json" value="perceptron.json"/>
    <add key="imgFolder" value="../../../VitAn/Content/imgs"/>
    <add key="rCount" value="4"/>
    <add key="learningAlgoritm" value="0"/>
    <add key ="learningLoopRebuilding" value="10"/>
    <add key ="learningLoopLearning" value="3"/>
    <add key ="learningLoopMinValue" value="10"/>
    <add key ="width" value="41"/>
    <add key ="height" value="71"/>
    <add key ="ak" value="2,5"/>
  </appSettings>
</configuration>
<!--
learningAlgoritm
Random - 0
Queue - 1
-->